In [44]:
#Imports for Splinter/BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [26]:
#Set the executable path and initialize chrome browser in splinter
executable_path = {'executable_path':"C://Users/Terence Lin/Documents/chromedriver/chromedriver.exe"}
browser = Browser('chrome',**executable_path,headless=False)

In [27]:
#Visst mars NASA news webpage
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
#Delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide",wait_time=1)

True

In [28]:
#Set up Html Parser
html=browser.html
news_soup = soup(html,'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [29]:
slide_elem.find("div",class_='content_title')

In [30]:
#Use parent element to locate first 'a' tag and then save as 'news_title'
news_title=slide_elem.find("div",class_='content_title').get_text()
news_title

"NASA's Perseverance Pays Off Back Home"

In [31]:
#Use parent element to find the paragraph text
news_p=slide_elem.find("div",class_="article_teaser_body").get_text()
news_p

'Even as the Perseverance rover approaches Mars, technology on board is paying off on Earth.'

### Featured Images

In [32]:
### Visit the URL
url="https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(url)

In [33]:
#Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [39]:
#Parse resulting html with soup
html = browser.html
img_soup=soup(html,'html.parser')

In [41]:
#Find relative image url
img_url_rel = img_soup.find("img",class_="fancybox-image").get("src")
img_url_rel

'image/featured/mars3.jpg'

In [42]:
#Use base URL to create absolute URL
img_url=f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{img_url_rel}'
img_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'

In [45]:
df=pd.read_html('https://space-facts.com/mars/')[0]
df.columns=['description','value']
df.set_index('description',inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [46]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [47]:
browser.quit()